@model Azmoon.Application.Service.Assessment.Dto.AddAssessmentDto

@{
    ViewData["Title"] = "ایجاد ارزشیابی دوره";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>ویرایش ارزشیابی دوره</h1>



<div class="row">
    <div class="col-md-9 col-sm-12">
        <form asp-action="AddAssessment" id="formAddAssessment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" type="hidden" class="form-control" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
          
            <div class="row mb-4">
                        <div class="col-md-4 col-sm-1">
                   
                    <div class="input-group">

                        <div class="input-group-prepend" id="select-WorkPlaceId">
                            <span class="input-group-text cursor-pointer"><i class='fas far fa-eye' style='font-size: 24px; color: red; padding-left: 16px;'></i></span>
                        </div>
                        @{

                            if (Model != null)
                                {
                             <input type="text" value="@Model.WorkPlaceIdFake" id="WorkPlaceIdFake" class="form-control" name="WorkPlaceIdFake" placeholder="@Model.WorkPlaceIdFake"/>
                                }
                            else
                                {
                                <input type="text" id="WorkPlaceIdFake" name="WorkPlaceIdFake" class="form-control" placeholder="انتخاب محل برگزاری " autocomplete="off" />

                                }
                        }

                        <input type="hidden" asp-for="WorkPlaceId" required/>

                    </div>
                </div>
                <div class="input-group col-md-4 col-sm-12">

                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="date5" data-mdpersiandatetimepicker="" data-mdpersiandatetimepicker-group="rangeSelector1" data-todate="" data-original-title="" title=""><i class='fas fa-calendar-alt' style='font-size:24px;color:forestgreen'></i></span>
                    </div>
                    <input asp-for="StartDate" type="hidden" required/>
                    <input type="text" id="StartDateFake" value="@Model.StartDate" class="form-control" aria-label="date5" aria-describedby="date5" placeholder="زمان شروع نظرسنجی" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="input-group col-md-4 col-sm-12">

                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="date6" data-mdpersiandatetimepicker="" data-mdpersiandatetimepicker-group="rangeSelector1" data-todate="" data-original-title="" title=""><i class='fas fa-calendar-alt' style='font-size:24px;color:red'></i></span>
                    </div>
                    <input asp-for="EndDate" type="hidden"  required/>
                    <input type="text" id="EndDateFake" value="@Model.EndDate" class="form-control" aria-label="date6" aria-describedby="date6" placeholder="زمان پایان نظرسنجی" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

            </div>
            <div class="row mb-4">
                <div class="input-group col-md-6 col-sm-12">

                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer"><i class='fas fa-check' style='font-size:24px;color:red'></i></span>
                    </div>
                    <select asp-for="TemplateMainId" class="form-control" asp-items="Model.TemplateSelectList">
                        <option> انتخاب کلیشه....</option>
                
                    </select>
                    <span asp-validation-for="TemplateMainId" class="text-danger"></span>
                </div>
               
       

                <div class="input-group col-md-6 col-sm-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">تعداد دفعات مجاز برای هر آی پی</span>
                    </div>
                    <input asp-for="AllowCountPerIp" class="form-control" aria-describedby="basic-addon3">
                    <span asp-validation-for="AllowCountPerIp" class="text-danger"></span>
                </div>
            </div>
            <div class="card" style="background-color: rgb(204, 207, 208);">
                <div class="card-header"> مدرسین دوره</div>
                <div class="card-body">

                    <div class="row mb-4">
                        <div class="input-group col-md-5 col-sm-12">

                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer" title=""><i class='fas fa-file-alt' style='font-size: 24px; color: blue'></i></span>
                            </div>
                            <input type="text" class="form-control" name="modaresName" id="modaresName" placeholder=" نام مدرس " />
                        </div>

                        <div class="input-group col-md-5 col-sm-12">

                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer" title=""><i class='fas fa-key' style='font-size:24px;color:blue'></i></span>
                            </div>
                            <input type="text" class="form-control" name="modaresTitle" id="modaresTitle" placeholder="عنوان درسی  " />
                        </div>
                        <button type="submit" id="btn_addKey" class="btn btn-primary col-md-1 input-group text-center"> ثبت </button>
                    </div>
                </div>
            <table class="table table-striped" id="tbl_answer">
                <thead>
                    <tr>
                        <th> نام مدرس</th>
                        <th>عنوان درسی</th>
                        <th>عملیات</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.AddModaresFeatures)
                            {
                            <tr><td>@item.Modares </td><td>@item.Title</td><td> <input type="button" value="حذف" class="btn btn-danger deletedKeyWeight" data-action="delete" /> </td> </tr>
                            } 
                    }
                </tbody>
            </table>
            <div class="row">
                <button type="submit" id="btn_form_submit" class="btn btn-success col-6 pl-2" style="text-align: center !important; font-size: 24px; color: red ">ذخیره <i class="fa fa-save"></i></button>
                <a asp-action="Index" asp-controller="Assessment" class="btn btn-primary col-6" style="font-size: 24px;">بازگشت <i class="fa fa-undo"></i></a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="TreeViewModal" role="dialog" tabindex="-1" aria-labelledby="TreeViewModalLabel" aria-hidden="true"  style="margin-top:40px">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TreeViewModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="WorkPlaceTreeView_modal_body" style=" overflow-y: auto;max-height: calc(100vh - 200px);">
             

               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mr-2" data-btn="save">ثبت انتخاب  </button>
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">خروج</button>
            </div>
        </div>
    </div>
</div>
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

@section Styles{
    <link href="~/lib/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <link href="~/backend/css/Spiner.css" rel="stylesheet" />
    <link href="~/lib/trumbowyg-2_25_1/ui/trumbowyg.css" rel="stylesheet" />
    <link href="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <style>
        select.form-control:not([size]):not([multiple]) {
            height: calc(3.0rem + 2px);
        }
    </style>
}
@section Scripts{
    

    <script src="~/lib/SweetAlert/sweetalert2.js"></script>
    <script src="~/lib/trumbowyg-2_25_1/trumbowyg.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.js"></script>
    <script>
        let wpselcted = 0;
        $(document).ready(function () {
            $('#Description').trumbowyg();
        });
        $('#date5').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFake',
            targetDateSelector: '#StartDate',
            groupId: '',
            fromDate: false,
            enableTimePicker: true,
            modalMode: true
        });
        $('#date6').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFake',
            targetDateSelector: '#EndDate',
            groupId: '',
            toDate: false,
            enableTimePicker: true,
            modalMode: true
        });
                 $("#btn_addKey").click(function (e) {
                e.preventDefault();
                var titleKey = $('#modaresName').val();
                var KeyWeight = $('#modaresTitle').val();
                $('#tbl_answer').append('<tr><td>' + titleKey + ' </td><td>' + KeyWeight + '</td><td> <input type="button"  value="حذف" class="btn btn-danger deletedKeyWeight" data-action="delete" /> </td> </tr>');
            });
         $('#tbl_answer').on('click', '.deletedKeyWeight', function (e) {
                e.preventDefault();
                console.log("$(this) : ", $(this));
                $(this).closest("tr").remove();
            });
        $("#btn_form_submit").click(function (e) {
            e.preventDefault();
            
              console.log("formisValid : ", "test");
            if ($("#Name").val()!="" && $("#StartDate").val()!="" &&  $("#EndDate").val()!="" && $("#WorkPlaceId").val()!="" && $("#TemplateMainId").find('option:selected').val()!="انتخاب کلیشه....") {
            $("#overlay").fadeIn(300);
            var data = new FormData();
             data.append("Id", $("#Id").val());
            data.append("StartDate", $("#StartDate").val());
            data.append("EndDate", $("#EndDate").val());
            data.append("WorkPlaceId", $("#WorkPlaceId").val());
            data.append("TemplateMainId", $("#TemplateMainId").find('option:selected').val());
            data.append("Name", $("#Name").val());
            data.append("AllowCountPerIp", $("#AllowCountPerIp").val());

            data.append("Description", $('textarea#Description').val());
                         var dataFeaturesViewModel2 = $('#tbl_answer tr:gt(0)').map(function () {
                return {
                    DisplayName: $(this.cells[0]).text(),
                    Value: $(this.cells[1]).text(),

                };
            }).get();

            $.each(dataFeaturesViewModel2, function (i, val) {
                data.append('AddModaresFeatures[' + i + '].Modares', val.DisplayName);
                data.append('AddModaresFeatures[' + i + '].Title', val.Value);
                console.log("tr i : "+i+ " DisplayName : "+val.DisplayName +" Value : "+ val.Value);
            });
                 console.log("data : ", data);
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/Admin/Assessment/AddAssessment",
                contentType: false,
                processData: false,
                data: data,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                success: function (data) {
                    $("#overlay").fadeOut(300);
                    if (data.isSuccess == true) {
                        swal.fire(
                            'موفق!',
                            'ارزشیابی با موفقیت بروز رسانی شد',
                            'success'
                        ).then(function (isConfirm) {
                            window.location.href = "/Admin/Assessment/index";
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            "دیتا ثبت نشد",
                            'warning'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });

            } 
            else { 
                swal.fire(
                            'هشدار!',
                            "فرم را کامل پر کنید",
                            'warning'
                        );
            }
     
        });

        $('input[name="WorkPlaceIdFake"]').attr('autocomplete', 'none');

        $('#select-WorkPlaceId').click(function () {
            selectWorkPlaceId()

        });
        $('#WorkPlaceIdFake').click(function () {
            selectWorkPlaceId()

        });
            function seda() { 
                wpselcted = 1;
              var url = "/admin/Assessment/WPartial";
            $("#WorkPlaceTreeView_modal_body").load(url);
        
        } 
        function selectWorkPlaceId() {
            if (wpselcted==0) { 
                seda();
            }
             $('#TreeViewModal').modal('toggle');
                $('#TreeViewModal').modal({
                         show: 'true'
                         });

        }
           $('[data-btn="save"]').click(function (e) {
                e.preventDefault();
                $('input[type=checkbox]').each(function () {
                    if (this.checked) {

                        $('#WorkPlaceId').val($(this).val());
                        $('#WorkPlaceIdFake').attr('placeholder', $(this).data('name'));
                        $('#WorkPlaceIdFake').val($(this).data('name'));
                        $('#TreeViewModal').modal('toggle');
                        $('#TreeViewModal').modal({
                         show: 'false'
                         }); 
                    }
                });

            });
    </script>
    <script>
        $(document).ready(function () {
          

         



        });
        // hide childe treeView
        $(function () {
            $('#RootTreeView ul.child2').hide(300);
           $('#RootTreeView li').on('click', function (e) {

            e.stopPropagation();
            $(this).children('ul').toggle(500);
            $(this).children('li').addClass('mr-4');
            $(this).children('ul').addClass('mr-4');
            // $(this).find('>:first-child').toggleClass('fa-plus-circle fa-minus-circle')
            $(this).find('>:first-child').toggleClass('fa-folder  fa-folder-open')

        });
          
        });
    </script>


}

