@using Azmoon.Application.Service.Quiz.Dto
@model GetQuizStudentWithPeger
@using EndPoint.Site.Useful.Ultimite

@{
    int counter = 1;
}



@* quizzes *@
<div class="form-group flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning mt-4 p-2">
        <div class="container">
            <h5 class="mb-0">آزمون های فعال</h5>
            <button class="navbar-toggler collapsed bg-primary"
                    type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown222"
                    aria-controls="navbarNavDropdown222"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
    <div class="component">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        ردیف
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quizes.ElementAt(0).Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quizes.ElementAt(0).Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quizes.ElementAt(0).StartDate)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quizes.ElementAt(0).EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quizes.ElementAt(0).Description)
                    </th>

                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Quizes != null)
                    {
                        @foreach (var quiz in Model.Quizes)
                        {
                <tr class="table-active bg-white">
                    <td>
                        @counter
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quiz.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quiz.Name)
                    </td>
                    <td>
                        @quiz.StartDate.ToPersianDateStrFarsi()
                    </td>
                    <td>
                        @quiz.EndDate.ToPersianDateStrFarsi()
                    </td>

                    <td>
                        @Html.Raw(quiz.Description)
                    </td>
                    <td class="text-right ">
                        <ul class="navbar-nav ml-auto d-inline-block">
                            <li class="nav-item m-1  d-inline-block">
                                <form method="post">
                                    <button formaction="/Student/Quizzes/Start" class="btn btn-primary"> شرکت در آزمون</button>
                                    <input type="hidden" value="@quiz.Id" name="quizid">
                                </form>
                            </li>

                        </ul>
                    </td>
                    @{counter++;
                    }
                </tr>

                        }
                    }
                    else
                    {
                        <tr>هیچ رکوردی یافت نگردید :)</tr>
                    }

                }

            </tbody>
        </table>
    </div>
</div>
