


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>سامانه بصیر| @this.ViewData["Title"]</title>


        <link href="~/Them/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"  />
        <link href="~/Report/armSaas.ico" rel="icon" type="image/png">

        <link rel="stylesheet" href="~/Them/css/lazy.css" >
        <link rel="stylesheet" href="~/Them/css/demo.css" >
        <link rel="stylesheet" href="~/Them/lib/fontawesome/css/all.css"  />

    @this.RenderSection("Styles", required: false)
    <style>
        .list-unstyled {
            padding-right: 0 !important;
        }
    </style>
</head>
<body class="index">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-action="Index" asp-controller="Home">سامانه بصیر</a>

                <button class="navbar-toggler collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNavDropdown-7"
                        aria-controls="navbarNavDropdown-7"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown-7">
                    <ul class="navbar-nav ml-auto mx-2">
                        @RenderSection("Profile", required: false)
                        @RenderSection("Logout", required: false)
                        <li class="nav-item">
                            <a class="btn btn-outline-white ml-2" asp-area="" asp-controller="Home" asp-action="Index" >
                                <i class="fas fa-home"></i>  صفحه نخست
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-white ml-2" asp-area="Student" asp-controller="Profile" asp-action="GetUserDitaels" title="Manage">
                                <i class="fas fa-address-card"></i>  پروفایل
                            </a>
                        </li>
                        <li class="nav-item text-primary">
                            <form class="form-inline" asp-area=""
                                  asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn btn-outline-white ml-2">
                                    <i class="fas fa-sign-out-alt"></i> خروج
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="page-container" role="main" class="pt-5">
        <div id="content-wrap" class="row">

            <partial name="_SideNavBarPartial" />
            <div class="col-12 col-md-9 ml-md-5 border-start border-end">
             @*    <partial name="_BublesAndCirclesPrtial" /> *@

                @this.RenderBody()

            </div>
        </div>
    </main>
    <partial name="~/Views/Shared/_FooterPartial.cshtml" />



        <script src="~/Them/lib/jquery/dist/jquery.js" ></script>
        @*<script src="~/lib/jquery/dist/jquery-3.5.1.slim.min.js"></script>
        <script src="~/lib/jquery/dist/popper.min.js"></script>*@
        @*<script src="~/Them/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>*@
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/Them/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>*@

  


    @this.RenderSection("Scripts", required: false)
</body>
</html>


