@using EndPoint.Site.Useful.Ultimite
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="~/Report/armSaas.ico" rel="icon" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>آزمون ساع.س| @this.ViewData["Title"]</title>
    <link href="~/assets/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/land.min.css" asp-append-version="true" />
    <link href="~/lib/W3/W3.CSS" rel="stylesheet" />
    <link href="~/assets/css/site.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", false)
    <style>
        .w3-dropdown-content {
            color: #000 !important;
            background-color: #676c62 !important;
        }

        .w3-button:hover {
            color: #000 !important;
            background-color: #ccc !important;
        }

        .dropdown-item:focus, .dropdown-item:hover {
            color: #16181b !important;
            text-decoration: none;
            background-color: #7ca5ce !important;
        }

        .w3-lime, .w3-hover-lime:hover {
            color: #000 !important;
            background-color: #1ba633 !important;
        }

        header {
            height: 100px !important;
        }
    </style>
</head>
<body class="rtl">
    <header class="main-header">
        <div class="container">
            <nav class="navbar">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <h2 id="site_logo">اداره فناوری اطلاعات و ارتباطات ساع.س ناجا</h2>
                </a>
                <div class="navbar-left ">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="w3-dropdown-hover">
                            <button class="w3-button w3-lime">
                                @User.FindFirst("UserFirstName").Value.ToString() + " " + User.FindFirst("UserLastName").Value.ToString()

                                <i class='fas fa-angle-down'></i>
                            </button>
                            <div class="w3-dropdown-content" style="background:none !important;">
                                <a class="dropdown-item w3-button w3-deep-orange w3-border w3-border-yellow w3-round-large" asp-area="" asp-action="Add" asp-controller="Question">تیکت</a>
                                <a class="dropdown-item w3-button w3-light-blue w3-border w3-border-green w3-round-large" asp-area="Client" asp-controller="Profile" asp-action="Index">پنل کاربری</a>
                                <a class="dropdown-item w3-button w3-gray w3-border w3-border-red w3-round-large" asp-area="" asp-controller="Account" asp-action="Logout">خروج</a>

                            </div>

                        </div>
                    }
                    else
                    {
                        <div id="headButtons" class="row clearfix">
                            <a class="w-50 float-right text-center rounded btn btn-success" asp-controller="Account" asp-action="Login">ورود</a>
                            <a class="w-50 float-left text-center rounded btn btn-primary" asp-controller="Account" asp-action="Create">عضویت</a>
                        </div>
                    }


                    @*if (User.Identity.IsAuthenticated)
                        {
                            <a class="w-50 float-right p-1 text-center" asp-action="Index" asp-controller="Home">خانه</a>
                            <a class="w-50 p-1 text-center btn btn-info" asp-action="Add" asp-controller="Question">تیکت</a>
                            <a href="#" class="w-20 p-1 text-center">سلام &nbsp; @User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value.ToString()</a>
                            <a class="w-20 p-1 mr-1 text-center btn btn-info" asp-area="Admin" asp-controller="Question" asp-action="MyQuestion">پنل کاربری</a>
                            <a class="w-20 p-1 text-center btn btn-danger" asp-area="" asp-controller="Account" asp-action="Logout">خروج</a>
                        }*@

                    <div id="sendGuestTicketBtn" class="text-center m-3 d-none">
                        <a class="p-1" href="#">ارسال تیکت بدون عضویت</a>
                    </div>

                </div>
            </nav>
            <nav class="mobile-navbar d-sm-none fixed-top">
                <a href="index.html" class="navbar-brand">
                    <span>
                        <img src="~/assets/images/patronic-logo-dark.png" alt="SITE LOGO" height="40">
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbar" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="mobileNavbar">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Tiket">ورود</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="register.html">عضویت</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </header>

    <main class="container mb-5">
        <div class="container padding-bottom-3x mb-2">
            <div class="row">
                <div class="col-lg-4">
                    <aside class="user-info-wrapper">
                        <div class="user-cover" style="background-image: url(/assets/images/bg1.jpg);">
                            @*<div class="info-label" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward Points to spend"><i class="icon-medal"></i>290 points</div>*@
                        </div>
                        <div class="user-info" id="id01">
                            <div class="user-avatar">
                                @*<a class="edit-avatar" href="#"></a>*@
                                <img src="@User.FindFirst(System.Security.Claims.ClaimTypes.Surname).Value.ToString()" alt="User">
                            </div>
                            <div class="user-data">
                                <h4> @User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value.ToString()</h4><span class="d-none">دایره نرم افزار و شبکه</span>
                            </div>

                        </div>
                    </aside>
                    <nav class="list-group">

                        <div>
                            <a class="list-group-item @Html.ActiveClass("Account", "ChengePassword")" href="#" data-toggle="collapse" data-target="#UserPalnel"><i class="fa fa-user"></i>ناحیه کاربری <i class="right fa fa-angle-down"></i></a>

                            <div class="collapse list-group-item" id="UserPalnel"> <a href="#" id="change-password"><i class="fa fa-tag"></i>تغییر رمز</a></div>
                        </div>
                        <a class="list-group-item" asp-area="" asp-action="Add" asp-controller="Question"><i class="fa fa-tag"></i>درخواست های پشتیبانی جدید</a>
                        <a class="list-group-item with-badge @Html.ActiveClass("Profile", "Index")" asp-area="Client" asp-controller="Profile" asp-action="Index"><i class="fa fa-tag"></i>درخواست پشتیبانی من<span class="badge badge-primary badge-pill">5</span></a>
                        <a class="list-group-item with-badge d-none" href="#"><i class="fa fa-th"></i>آموزش<span class="badge badge-primary badge-pill">6</span></a>
                    </nav>
                </div>
                <div class="col-lg-8">
                    <div class="padding-top-2x mt-2 hidden-lg-up"></div>
                    @RenderBody()

                </div>
            </div>
        </div>

    </main>

    @{
        await Html.RenderPartialAsync("_PartialFooter");
    }
    <div class="modal fade" id="exampleModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="fromResetPassword">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal_body">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="Password">رمز عبور</label>
                                <input name="password110" id="password110" class="form-control" type="password" />
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="rePassword">تکرار رمز عبور</label>
                                <input name="rePassword" id="rePassword" class="form-control" type="password" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">خروج</button>
                        <button type="submit" class="btn btn-primary mr-2" data-btn="save">ذخیره تغییرات </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/W3/w3.js"></script>
    <script src="~/assets/js/jquery-3.5.1.min.js"></script>

    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-innerfade.min.js"></script>
    <script src="~/assets/js/land.min.js"></script>
    @await RenderSectionAsync("Scripts", false)
    @await Html.PartialAsync("_ValidationScriptsPartial");
    <script>

        $(document).ready(function () {
            $('#exampleModal').modal('hide');
            $('#change-password').click(function (e) {
                e.preventDefault();
                $('#exampleModal').modal('show');

                var hostname = window.location.origin

                $('head').append('<link rel="stylesheet" href="/lib/SweetAlert/sweetalert2.css" type="text/css" />');

                var sweetalert = document.createElement('script');
                sweetalert.src = '/lib/SweetAlert/sweetalert2.js';
                sweetalert.type = 'text/javascript';
                document.getElementsByTagName('head')[0].appendChild(sweetalert);

                var polyfill = document.createElement('script');
                polyfill.src = '/lib/SweetAlert/polyfill.js.js';
                polyfill.type = 'text/javascript';
                document.getElementsByTagName('head')[0].appendChild(polyfill);





                $("#fromResetPassword").on("submit", function (e) {
                    e.preventDefault();
                    var inputs = $(this).find('input[type="password"]');
                    var resultOk = false;
                    if ($(inputs[0]).val() !== undefined && $(inputs[0]).val() !== null && $(inputs[0]).val() !== "") {
                        if ($(inputs[1]).val() !== undefined && $(inputs[1]).val() !== null && $(inputs[1]).val() !== "") {
                            if ($(inputs[0]).val() == $(inputs[1]).val()) {
                                resultOk = true;
                            }
                        }
                    }
                
                    
                    if (resultOk) {

                        var passworddd = $(inputs[0]).val();
                      
                        var rePassworddd = $(inputs[1]).val();
                       
                       /* $('#exampleModal').modal('hide');*/
                        console.log("password/rePassword  : ", passworddd + "/" + rePassworddd);
                        $.ajax({
                            url: "/Client/Profile/ChangePassword",
                            data: { password: passworddd, rePassword: rePassworddd },
                            type: "Post",
                            dataType: "Json",
                            success: function (result) {
                                if (result.isSuccess) {
                                    $('#exampleModal').modal('hide');
                                   
                                    Swal.fire({
                                        icon: 'info',
                                        title: result.message,
                                        showConfirmButton: false,
                                        timer: 3000
                                    })

                                }
                                else {
                                    $('#exampleModal').modal('hide');
                                    
                                    Swal.fire({
                                        icon: 'info',
                                        title: result.message,
                                        showConfirmButton: false,
                                        timer: 3000
                                    })

                                }

                            },
                            error: function () {
                              
                                alert('اطلاعات و مقادیر وارد شده نادرست می باشد دقت فرمائید!!',);


                            }
                        });
                    }
                    else {
                        $(inputs[0]).attr('placeholder', 'مقادیر رمز را به درستی وارد نمائید');
                        $(inputs[0]).css({ "border-color": "red" });

                        $(inputs[1]).attr('placeholder', 'مقادیر تکرار رمز را به درستی وارد نمائید');
                        $(inputs[1]).css({ "border-color": "red" });
                    }

                });





            });


        });
    </script>
</body>
</html>