@model IEnumerable<Azmoon.Application.Service.Group.Dto.GetGroupViewModel>

@functions
{
    void RenderWorkPlaceRow(long? parentId)
    {

        foreach (var item in Model.Where(p => p.ParentId == parentId).ToList())
        {

            var tb = Model.Where(p => p.ParentId == item.Id).ToList().Count();
            if (tb == 0)
            {
                <li>
                    @*<i class="fa fa-square"></i>*@
                    <i class="fas fa-sticky-note"></i>
                    @item.Name
                    <input type="checkbox" id="Id_@item.Id" name="Unit_Structuer_Id" value="@item.Id" />

                </li>
            }
            else
            {
                <li>
                    @*<i class="fa fa-plus-circle" aria-hidden="true"></i>*@
                    <i class="far fa-folder" aria-hidden="true"></i>
                    @item.Name
                    <input type="checkbox" id="Id_@item.Id" name="Unit_Structuer_Id" value="@item.Id" />
                    <span class="badge badge-primary">@tb</span>
                    <ul class="child2" style="list-style-type:none;" required>
                        @{
                            RenderWorkPlaceRow(item.Id);
                        }
                    </ul>
                </li>
            }
        }
    }
}




<div id="divUnitList">
    <ul style="list-style-type:none;" id="unit_id" name="Unit_Structuer_Id" required>
        <li>
            @{
                RenderWorkPlaceRow(null);
            }
        </li>
    </ul>
</div>

    <script src="~/assets/js/jquery-3.5.1.min.js"></script>
    <script>
        $(function () {
            // treeView selected
            $("#divUnitList input[type=checkbox]").change(function () {
                var numberOfChecked = $('input:checkbox:checked').length;

                if (numberOfChecked > 1) {
                    $(this).prop('checked', false);
                    Swal.fire({
                        icon: 'info',
                        title: `<span class="font_W_koodak w3-lime">شما فقط می توانید یک مورد را انتخاب نمائید</span>`,
                        showConfirmButton: false,
                        timer: 3000
                    })
                }

            });
            // hide childe treeView
            $('#unit_id ul.child2').hide(300);

            $('li').on('click', function (e) {

                e.stopPropagation();
                $(this).children('ul').toggle(500);
                //$(this).find('>:first-child').toggleClass('fa-plus-circle fa-minus-circle')
                $(this).find('>:first-child').toggleClass('fa-folder fa-sticky-note')

            });


        });
    </script>


