@model IEnumerable<Azmoon.Application.Service.JameiatQustion.Dto.GetJameiatQustionViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <a asp-area="Admin" asp-controller="Jameiat" asp-action="Create" class="btn btn-success m-1">ایجاد سوال جدید</a> 
    
    <a asp-area="Admin" asp-controller="Jameiat" asp-action="index" asp-parentId="@ViewBag.parentId" class="btn btn-danger m-1">بازگشت</a>
</div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>نوع</th>
            <th>
                @Html.DisplayNameFor(model => model.IsChailren)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
            @foreach (var item in Model)
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.typeQA==1)
                            {
                            <span class="btn btn-success">سوال </span>
                            }
                        else
                            {
                            <span class="">جواب</span>   <span class="btn btn-warning">وزن :&nbsp; @item.Wight</span>
                            }

                    </td>
                    <td>
                        @if (item.typeQA == 1)
                            {
                            if (item.IsChailren)
                                {
                                <span class="btn btn-success">دارای جواب</span>
                                }
                            else
                                {
                                <span class="btn btn-warning">فاقد جواب</span>
                                }
                            }
                        else
                            {
                            <i class="fa fa-check" style="font-size:35px;color:forestgreen"></i>
                            }


                    </td>
                    <td>
                        @Html.ActionLink("ویرایش", "Edit", new { Id = item.Id }, new { @class = "btn btn-outline-info" }) 


                        @if (item.typeQA == 1){
                            
                           @( Html.ActionLink("ایجاد جواب", "Create", new { parentid = item.Id }, new { @class = "btn btn-outline-success" })) 
                    }


                       
                        @if (item.IsChailren)
                            {
                            @Html.ActionLink("مشاهده جواب ها", "Index", new { parentId = item.Id }, new { @class = "btn btn-outline-info" })
                            ;
                            <span>|</span>

                            }

                        @Html.ActionLink("غیر فعال کردن", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                    </td>
                </tr>
                }
            }
        else
            {
            <tr>
                <td>
                    هیچ مقداری یافت نگردید
                </td>
            </tr>

            }

    </tbody>
</table>
