@using Azmoon.Application.Service.Answer.Dto
@model List<GetAnswerDto>

@{
    if (Model != null)
    {
        <h3 class="w3-panel w3-round-xlarge w3-lime p-2" style="text-align:right !important;"><span>لیست جواب ها</span> </h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ElementAt(1).Text)
                    </th>

                    <td> @Html.DisplayNameFor(model => model.ElementAt(1).IsTrue)</td>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {

                        @foreach (var item in Model)
                        {
                            <tr >
                                <td>
                                    @Html.DisplayFor(modelItem => item.Text)
                                </td>
                                <td>

                                    @{

                                        switch (item.IsTrue)
                                        {
                                            case true:

                                                <i class="fas fa-check" style="font-size:25px;color:forestgreen"></i>
                                                break;
                                            case false:
                                                <i class="fas fa-window-close" style="font-size:25px;color:red"></i>
                                                break;

                                        }
                                    }
                                </td>
                                <td>
                             
                                    <a class="btn btn-outline-primary"
                                       asp-action="Edit" asp-route-id="@item.Id" asp-controller="Answer" asp-area="Admin">
                                        ویرایش
                                    </a>

                                    <a class="btn btn-outline-danger"
                                       asp-action="Delete" asp-route-id="@item.Id" asp-route-qustionid="@item.QuestionId" asp-controller="Answer" asp-area="Admin">
                                        حذف
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                }


            </tbody>
        </table>


    }
    else
    {
        <h2><span>هیچ رکوردی ثبت نگردیده است</span></h2>
    }
}
