
@{
    ViewData["Title"] = "جزئیات تردد کارکنان";
    Layout = "~/Areas/Person/Views/Shared/_LayoutPerson.cshtml";
}
@using Azmoon.Domain.Entities
@using EndPoint.Site.Models
@using EndPoint.Site.Useful.Ultimite;

@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Web.Common

@model IPagedList<DailyAttendanceListViewModel>


<h4 class="text-center mb-4">ترددهای روزانه @ViewBag.EmployeeName</h4>

<table class="table table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th style="width: 20%">تاریخ</th>
            <th>ورود/خروج‌ها</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var day in Model)
        {
            <tr>
                <td>@day.Date.ToPersianDateStrFarsi()</td>
                <td style="text-align:right !important;">
                    @foreach (var r in day.Records)
                    {
                        <span class="badge badge-@(r.Type == AttendanceType.Entry ? "success" : "danger")" style="margin: 2px">
                            @r.Time.ToString("HH:mm tt").Replace("AM", "ق.ظ").Replace("PM", "ب.ظ") - @(r.Type == AttendanceType.Entry ? "ورود" : "خروج")  - &nbsp; Ip: @r.Ip
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- صفحه‌بندی -->
<div class="text-center mt-3">
    @Html.PagedListPager(Model, page => Url.Action("AttendanceDetailsByDate", new { id = ViewBag.EmployeeId, page }),
        new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            DisplayLinkToIndividualPages = true,
            MaximumPageNumbersToDisplay = 5,
            UlElementClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })
</div>





