@using Azmoon.Application.Service.PublicRelations.MediaPerformances
@model ResultDetailMedia
@using EndPoint.Site.Areas.PublicRelations.Helpers.Convertors;

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel1">
                @(Model.ProgramName)
            </h4>
            @if (Model.Confirmation == true)
            {

                <span style="font-size:65%;" class="badge badge-pill badge-success">تایید شده</span>

            }
            else
            {
                <span style="font-size:65%;" class="badge badge-pill badge-secondary">تایید نشده</span>

            }
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="idInput" value="@Model.Id">

            <div class="modal-body">
                <div class="form-body">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">نامه رسانه:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.Media</p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">نام شبکه:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.NetworkName</p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">نام برنامه: </label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.ProgramName</p>
                                    </div>
                                </div>
                            </div>
                               <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">تاریخ برنامه: </label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.BroadcastDate.ToShamsi()</p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="row">
                                <!--/span-->
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">موضوع برنامه:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.SubjectTitle</p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                          <div class="row">
                                <!--/span-->
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">توضیحات:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.Description</p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">ساعت پخش: </label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.BroadcastStartTime</p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">مدت برنامه: </label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.Time</p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">تاریخ بروزرسانی: </label>
                                    <div class="col-md-8">
                                        @if (Model.UpdateTime != null)
                                        {
                                            <p class="form-control-static">@Model.UpdateTime?.ToShamsi()</p>
                                        }
                                        else
                                        {
                                            <p class="form-control-static">تا کنون بروز رسانی نشده است</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">تاریخ ایجاد:</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.InsertTime.ToShamsi()</p>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row justify-content-center text-center">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="control-label text-center">مستند</label>
                                    </div>
                                    <div class="col-md-12">
                                        <img src="/@Model.Image" width="300" class="img-fluid mt-2" />
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!--/row-->
                    </div>
                    <hr class="m-t-0 m-b-40">

                    <div class="col-md-12">

                        <p class="form-control-static" style="text-align: center;">  @("کاربر" + " " + Model.Operator) </p>

                    </div>



                </div>

            </div>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>

        </div>
    </div>
</div>

