@model IEnumerable<Azmoon.Application.Service.Group.Dto.GetGroupViewModel>

@functions
{
    void RenderCategoryRow(long? parentId)
    {
        foreach (var item in Model.Where(p => p.ParentId == parentId).ToList())
        {

            var tb = Model.Where(p => p.ParentId == item.Id).ToList().Count();
            if (!item.IsChailren)
            {
                <li>
         
                    <i class="fas fa-sticky-note"></i>

                    @item.Name

                    <input type="checkbox" id="Id_@item.Id" name="ids[]" value="@item.Id" data-name="@item.Name" class="checkthis">

         


                </li>
            }
            else
            {
                <li>

                    <i class="far fa-folder" aria-hidden="true"></i>

                    @item.Name

                    <input type="checkbox" id="Id_@item.Id" name="ids[]" value="@item.Id" data-name="@item.Name" class="checkthis">

              


                    <span class="badge badge-primary">@tb</span>
                    <ul class="child2" style="list-style-type:none;" required>

                        @{
                            RenderCategoryRow(item.Id);
                        }
                    </ul>
                </li>
            }
        }
    }
}


<div id="divCategotyTreeView">
    <ul style="list-style-type:none;" id="RootTreeView" required>
        <li>
        @{
            RenderCategoryRow(null);
        }
        </li>
    </ul>
</div>
<script>
        $(document).ready(function () {
        $("#divCategotyTreeView input[type=checkbox]").change(function () {


            if ($('#divCategotyTreeView input:checkbox:checked').length > 1) {
                $(this).prop('checked', false);
                Swal.fire({
                    icon: 'info',
                    title: `<span">گزینه دیگری در حال انتخاب است و شما فقط می توانید یک مورد را انتخاب نمائید</span>`,
                    showConfirmButton: false,
                    timer: 3000
                })
            }

        });
        // hide childe treeView
        $(function () {
            $('#RootTreeView ul.child2').hide(300);

            $('#RootTreeView li').on('click', function (e) {

                e.stopPropagation();
                $(this).children('ul').toggle(500);
                $(this).children('li').addClass('mr-4');
                $(this).children('ul').addClass('mr-4');
                // $(this).find('>:first-child').toggleClass('fa-plus-circle fa-minus-circle')
                $(this).find('>:first-child').toggleClass('fa-folder  fa-folder-open')

            });
        });
        });
</script>