@addTagHelper *, LazZiya.TagHelpers
@using Azmoon.Application.Service.PublicRelations.Period.VirtualSpace
@using EndPoint.Site.Areas.PublicRelations.Helpers.Convertors;
@using EndPoint.Site.Areas.PublicRelations.Helpers.Convertors
@model ReslutPeriodDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/PublicRelations/Views/Shared/_Layout.cshtml";
    int startIndex = @ViewBag.PageSize * (@ViewBag.PageNumber - 1); // شروع از شماره مورد نظر بر اساس صفحه جاری
    int rowIndex = startIndex + 1;
}


<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">گزارش ها</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">گزارش دوره آماری</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">گزارش دوره آماری</h4>
                    <h6 class="card-subtitle">"لطفاً توجه داشته باشید که این صفحه حاوی اطلاعات با ارزش است و باید از هر گونه تغییر در آن بدون اطلاع قبلی پرهیز کرد."</h6>

                    <div class="table-responsive">

                        @*------*@
                        <div id="file_export_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">


                            <form class="m-t-20" method="get" asp-controller="Period" asp-action="Index">
                                <div class="input-group mb-3 col-md-5 ml-auto">
                                    <div class="input-group-prepend">
                                        <a class="btn btn-info" asp-controller="Period" asp-action="Index"><i class="ti-reload"></i></a>
                                    </div>
                                    <input class="form-control" placeholder="متن مورد نظر خود را وارد کنید" name="searchKey" value="@ViewBag.CurrentFilter">
                                    <div class="input-group-append">
                                        <button class="btn btn-warning"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <table id="my-table" class="table table-sm m-b-0">
                            <thead class="bg-warning text-white">
                                <tr>
                                    <th scope="col" style="text-align:center;">ردیف</th>
                                    <th scope="col" style="text-align:center;">دوره آماری</th>
                                    <th scope="col" style="text-align:center;">وضعیت</th>
                                    <th scope="col" style="text-align:center;">تاریخ شروع</th>
                                    <th scope="col" style="text-align:center;">تاریخ پایان</th>
                                    <th scope="col" style="text-align:center;">مدت دوره</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.getPeriods)
                                {

                                    <tr>
                                        <td scope="row" style="text-align:center;">@rowIndex</td>
                                        <td style="text-align:center;">@item.StatisticalPeriod</td>
                                        <td style="text-align:center;">
                                            @if (item.IsActive == true)
                                            {
                                                <i class="fa fa-circle text-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="فعال"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-circle text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="غیر فعال"></i>
                                            }
                                        </td>
                                        <td style="text-align:center;">@item.StartDate.ToShamsi()</td>
                                        <td style="text-align:center;">@item.EndDate.ToShamsi()</td>
                                        <td style="text-align:center;">
                                            @{
                                                // محاسبه تعداد روزهای بازه زمانی
                                                TimeSpan dateDifference = item.EndDate - item.StartDate;
                                                int numberOfDays = (int)dateDifference.TotalDays;
                                            }
                                            @numberOfDays روز
                                        </td>
                                        <td style="display:none;">@item.Id</td>
                                        <td style="text-align: left;">
                                            <button type="button" class="btn btn20 btn-sm btn-icon btn-pure btn-outline delete-row-btn"
                                                    data-period-id="@item.Id"
                                                    data-url="@Url.Action("EditVirtualSpace", "Period")">
                                                <i class="fas fa-edit" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn21 btn-sm btn-icon btn-pure btn-outline delete-row-btn" onclick="DeletePeriod(event)">
                                                <i class="fas fa-trash" aria-hidden="true"></i>
                                            </button>

                                        </td>
                                    </tr>
                                    rowIndex++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-center">
                    <paging total-records="@Model.RowCount"
                            page-no="@Model.CurrentPage"
                            page-size="@Model.PageSize"
                            show-prev-next="true"
                            show-total-pages="false"
                            show-total-records="false"
                            show-page-size-nav="true"
                            show-first-numbered-page="true"
                            show-last-numbered-page="true"
                            query-string-key-page-no="Page"
                            query-string-key-page-size="PageSize"
                            gap-size="2">
                    </paging>
                </div>
            </div>
            <a class="btn btn-primary mb-2" asp-controller="Period" asp-action="AddStatisticalPeriodVirtualSpace"><i class="fas fa-plus"></i>&nbsp; افزودن دوره آماری جدید</a>
        </div>

    </div>
</div>




 <link href="~/PublicRelations/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
 <script src="~/PublicRelations/Sweetalert2/sweetalert2.min.js"></script>

@section Scripts
{

    <script>
        $(document).on('click', '.btn20', function () {
            var periodId = $(this).data('period-id');
            var url = $(this).data('url') + "?PeriodId=" + periodId;
            window.location.href = url;
        });
    </script>

    <script>
        function DeletePeriod(event) {
            event.preventDefault();

            var periodId = $(event.target).closest('tr').find('td[style="display:none;"]').text();


            Swal.fire({
                title: "آیا مطمئن هستید؟",
                text: "این عملیات قابل بازگشت نیست!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "بله، حذف کن",
                cancelButtonText: "لغو"
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "DeletePeriodVirtualSpace",
                        data: {
                            PeriodId: periodId
                        },
                        success: function (data) {
                            console.log("AJAX request successful: ", data);
                            if (data.isSuccess) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function () {
                                    location.reload();
                                });
                            } else {
                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        },
                        error: function (request, status, error) {
                            console.error("خطا در درخواست:", request.responseText);
                            console.log("Error details: ", status, error);
                        }
                    });
                }
            });
        }
    </script>


}



@section Styles
{
    <link href="~/theme/assets/libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}
