@model Azmoon.Application.Service.Quiz.Dto.AttemtedQuizViewModel
@* Timer *@
<input id="minutes" type="hidden" value="@Model.Timer" />
@if (Model.Timer != 0)
{


    <div id="clockdiv" class="p-2" style="display:none;">
        <div>
            <span class="seconds"></span>
        </div>
        <div>
            <span class="minutes"></span>
        </div>


    </div>
}
@* pagination *@

@if (Model.Questions.Count > 1)
{
    <div id="pagging" class="text-center my-1" style="display:none">
        <ul class="pagination justify-content-center">
            <li id="first" class="page-item">
                <a class="page-link">
                    <i class="fas fa-long-arrow-alt-right"></i>
                </a>
            </li>
            @for (int i = 1; i <= Model.Questions.Count; i++)
            {
                <li class="page-item number @i">
                    <a class="page-link">
                        @i
                    </a>
                </li>
            }
            <li id="last" class="page-item">
                <a class="page-link">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </li>
        </ul>
    </div>
}
@* Questions *@
@for (int i = 0; i < Model.Questions.Count; i++)
{
    var question = Model.Questions[i];

    <div id="@question.Id" data-quizid="@(i+1)" class="component" style="display:none">
        <div class="card mb-3">
            @* <div class="card-header text-warning">
                    <i class="fas fa-question-circle"></i>
                   @Html.HiddenFor(model => model.Questions[i].Id)

                <span class="text-primary ml-1">سوال : @question.Id</span>
                  </div>*@

            <div class="card-title text-center m-1">
                <h4 class="quiz">@Html.Raw(question.Text)</h4>
            </div>
            <hr>
            <div class="card-body px-4" style="text-align:right !important;">
                @for (int j = 0; j < question.Answers.Count; j++)
                {
                    var answer = question.Answers[j];
                    <div class="form-group mb-0">
                        <div class="mt-2">

                            <input type="radio" name="answer_@question.Answers[j].QuestionId" value="@answer.Id" style=" width: 20px; height: 20px;" />
                            <h6 class="d-inline-block mt-0 ml-1 quiz">@Html.Raw(answer.Text)</h6>

                        </div>
                    </div>


                }
            </div>
            <div class="card-footer pb-3">
                <div class="text-white col-12 text-center center">
                    <a id="prev" class="btn btn-primary col-4 ml-1 ">قبلی</a>
                    <a id="next" class="btn btn-primary col-4 ">بعدی</a>
                </div>
            </div>
        </div>
    </div>}
<input id="quizId" type="hidden" asp-for="@Model.Id" value="@Model.Id" />

<button id="submit" type="button" class="btn btn-primary col-md-6" data-toggle="modal" data-target="#btn" style="display:none">
    ثبت و پایان آزمون
</button>




