@model AttemtedQuizViewModel
@using Azmoon.Application.Service.Quiz.Dto
@{

    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    var quizModel = ViewData["quizModel"] as GetQuizDetilesViewModel;
    ViewData["Title"] = quizModel.Name ?? "آزمون";
}
<div class="center text-center col-12">


</div>
<div class="col-12 offset-md-2 col-md-8 my-3 center text-center">
    <div class="flex-grow-1">
        @*<partial name="_BublesAndCirclesPrtial" />*@
    </div>
    <input id="hiddenkey" type="hidden" data-pass="@ViewBag.password" data-quizid="@ViewBag.quizid" />
    <div class="my-3 row">


        <form id="@(quizModel.QuestionCount.ToString())f" data-formcount="@(quizModel.QuestionCount.ToString())" method="post" class="col-11 ml-4 mb-5 form_question">

            <div id="details" class="component pt-2">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <i class="fa fa-exclamation-circle"></i>
                    <strong>هشدار!!</strong>
                    شما فقط یک تلاش برای شرکت در این آزمون دارید! هنگام شروع، حواستان باشد که به اشتباه صفحه را ترک نکنید! موفق باشید
                </div>
                <div class="card mb-3 mt-3">
                    <div class="card-header text-info pb-0" style="font-size: xx-large">
                        <i class="far fa-list-alt"></i>
                        <p class="display-5 d-inline-block">آزمون:</p>
                    </div>
                    <div class="card-body pt-1">
                        <h4 class="card-title">@quizModel.Name</h4>
                        @*<input type="hidden" asp-for="@quizModel.Name" value="@quizModel.Name" />*@
                        <p class="card-text border-top pt-2" style="display: block;">
                            <span class="text-primary mr-1"></span>@Html.Raw(quizModel.Description)
                        </p>
                    </div>
                    <div class="card-footer py-3">
                        <div class="input-group">

                        </div>
                        <div class="row mx-1 text-white">
                            <a id="start" class="btn btn-danger col-md-4 mt-5 offset-md-1">شروع</a>
                            <a class="btn btn-success col-md-4 mt-md-5 mt-2 offset-md-2"
                               asp-area="Student"
                               asp-action="Index"
                               asp-controller="Quizzes">
                                لغو
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="loadquizzz">

            </div>


            <!-- the modal -->
            <div class="modal fade" id="btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <h5>آیا از انتخاب مقادیر در این آزمون اطمینان دارد؟</h5>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" type="submit" id="submitResult"
                                    asp-action="Submit" asp-controller="Quizzes">
                                ثبت
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف!</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

@section Styles{
    <link href="~/lib/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <link href="~/backend/css/Spiner.css" rel="stylesheet" />
}
@section Scripts
{
    @*<script src="~/lib/jquery/dist/jquery-3.1.1.min.js"></script>*@
    <script src="~/lib/SweetAlert/sweetalert2.js"></script>
    <script src="~/lib/SweetAlert/polyfill.js.js"></script>
    <partial name="_ValidationScriptsPartial" />
    

    <script>

        $("#submitResult").click(function () {
            $("#btn").modal('hide');
            $("#overlay").fadeOut(300);
        });
    </script>

    <script src="~/Them/js/attemptQuiz.js"></script>
    @*<script>
            $.ajax('/jquery/submitData', {
                type: 'POST',  // http method
                data: { myData: 'This is my data.' },  // data to submit
                success: function (data, status, xhr) {
                    $('p').append('status: ' + status + ', data: ' + data);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    $('p').append('Error' + errorMessage);
                }
            });

                function ajaxSendQuizId() {
            var id = $('#quizId').val();

            var url = '/Student/Quizzes/StartedQuizAjaxCall';



            $.ajax(url, {
                type: 'POST',  // http method
                data: { password: '@ViewBag.password', quizid: '@ViewBag.quizid'},
                success: function (result) {

                    $("#loadquizzz").html(result.data);
                },
                error: function (jqXhr, textStatus, errorMessage) {

                }
            });
        }
        </script>*@

}

